:host {
  display: block;
  min-height: 100vh;
  width: 100%;
  background-color: #f4f5f7;
  background-size: cover;

  div.account-page {
    display: flex;
  }

  claes-account-menu {
    width: 240px;
  }

  section {
    padding: 20px;
    display: block;
    width: 100%;
  }
}
